# This version of the CLA Assistant uses a GitHub action and local
# storage of the signatures.
# https://github.com/cla-assistant/github-action/

name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

jobs:
  CLAssistant:
    runs-on: ubuntu-22.04
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request'
        uses: cla-assistant/github-action@v2.5.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.OSS_CONTRIBUTOR_LICENSE_AGREEMENT }}
        with:
          path-to-signatures: 'signatures/version1/cla.json'
          path-to-document: 'https://github.com/Staffbase/yamllint-action/blob/master/CLA.md'
          # branch should not be protected
          branch: 'signatures'
          allowlist: 0x46616c6b,axdotl,kaitimmer,ricoberger,dependabot[bot]
